ci:
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 5.9.1
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v2.19.4
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]

- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.13.0
  hooks:
  - id: nbqa-black
    additional_dependencies: [black==20.8b1]
  - id: nbqa-pyupgrade
    additional_dependencies: [pyupgrade==2.7.3]
    args: ["--py37-plus"]

- repo: https://github.com/psf/black
  rev: 21.6b0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.902
  hooks:
  - id: mypy
    files: src
    additional_dependencies: [uhi~=0.2.0, numpy~=1.20.1]
